@import "./animations.css";

.section-produtos {
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    cursor: default;
}

.titulo-produtos {
    font-size: 1.5vw;
    margin-bottom: 10px;
}


.div-produtos {
    height: max-content;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.ver-todos {
    margin-top: 1.5vw;
    cursor: pointer;
    color: var(--preto);
    font-size: 1vw;
    display: none;
    width: max-content;
    margin: 1.5vw auto .5vw auto;
    padding: 5px;

    & span {
        border-bottom: 1.5px solid var(--preto);
    }
}


.produtos {
    overflow: hidden;
    height: max-content;

    & a {
        color: var(--preto);
        cursor: pointer;
        font-size: 1vw;
    }
}


.navegacao-produtos {
    display: flex;
    gap: 0.5vw;
    justify-content: end;
    align-items: center;
    margin-bottom: 5px;

    & img {
        display: none;
        width: 30px;
    }
}


.botoes-produtos {
    display: flex;
    gap: .8vw;
}


.btn-produto {
    border: 1px solid var(--cinza);
    border-radius: 50%;
    padding: 6px;
}


.produto {
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    & h4 {
        position: absolute;
        top: .6vw;
        left: .6vw;
        background-color: var(--cinza);
        padding: .3vw;
        color: var(--branco);
        width: max-content;
        font-size: .8vw;
        border-radius: 2px;
    }
}


.produto:hover > .div-img-produto > p, .produto:hover > .info-produto > button {
    opacity: 1;
    transition: .7s;
    pointer-events: auto;
}   


.div-img-produto {
    /* background-image: url("../imagens-icones/produto-img.png"); */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end;
    grid-row: 1/3;
    height: 100%;

    & p {
        display: flex;
        opacity: 0;
        pointer-events: none; 
        align-items: center;
        background-color: var(--cinza);
        width: max-content;
        margin: 0 auto 1vw auto;
        border-radius: 50px;
        color: var(--branco);
        font-size: 1vw;
    }


    & span {
        display: flex;
        align-items: center;
        gap: .8vw;  
        padding: .5vw 1vw;
    }

    & img {
        width: 1vw;
    }
}


.favoritar, .espiar {
    cursor: pointer;
}


.produto-estrelas {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3vw;

    & img {
        width: 1vw;
    }
}


.info-produto {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 0 .6vw .6vw .6vw;

    & p {
        font-size: 1vw;
    }

    & button {
        opacity: 0;
        width: 100%;
        padding: .5vw;
        border: none;
        font-size: 1vw;
        color: var(--branco);
        background-color: var(--cinza);
        cursor: pointer;
        pointer-events: none; 
    }

    & p:last-child {
        font-size: .8vw;
    }
}


.slide-produto {
    display: none;
    gap: 1.5vw;
    grid-template-columns: repeat(4, 1fr);
    animation: passar 1s;
}


.slide-produto-ativo {
    display: grid;
}


.preco-content {
    font-weight: bold;
    color: var(--vermelho);

    & span:last-child {
        font-size: .8vw;
    }
}


.btn-produto-ativo {
    background-color: var(--cinza);
}


/* RESPONSIVIDADE */

@media (max-width: 2000px) {
    .navegacao-produtos > img {
        width: 20px;
    }


    .btn-produto {
        padding: 4px;
    }
}


@media (max-width: 1024px) {
    .navegacao-produtos > img {
        width: 10px;
    }


    .btn-produto {
        padding: 2px;
    }
}   


@media (max-width: 768px) {
    .ver-todos {
        font-size: 7px;
    }


    .titulo-produtos {
        font-size: 10px;
    }


    .navegacao-produtos > img {
        width: 10px;
    }


    .btn-produto {
        padding: 2px;
    }

    
    .info-produto {
        & p {
            font-size: 6px;
        }

        & p:last-child {
            font-size: 5px;
        }

        & button {
            opacity: 1;
            width: 100%;
            padding: 5px;
            border: none;
            font-size: 6px;
            color: var(--branco);
            background-color: var(--cinza);
        }
    }


    .produto-estrelas > img {
        width: 5px;
    }


    .preco-content > span:last-child {
        font-size: 5px;
    }
    

    .div-img-produto {
        & p {
            opacity: 0.8;
            pointer-events: auto;
            margin: 0;
            border-radius: 0;
            width: 100%;
            font-size: 8px;
            align-items: center;
            justify-content: center;
        }
    
        & img {
            width: 8px;
        }
    
        & span {
            width: 100%;
            padding: 5px;
            justify-content: center;
        }
    }

    .produto:hover > .div-img-produto > p {
        opacity: 0.8;
        transition: .7s;
    }  

    .produto:hover > .info-produto > button {
        opacity: 1;
        transition: .7s;
    }
}   


@media (max-width: 570px) {
    .section-produtos {
        padding: 15px;
    }


    .div-produtos {
        width: 100%;
    }


    .produto > h4 {
        font-size: 5px;
        padding: 2px;
    }

    .div-img-produto {
        & p {
            margin: 0;
            border-radius: 0;
            width: 100%;
            font-size: 6px;
            align-items: center;
            justify-content: center;
        }
    
        & img {
            width: 6px;
        }
    
        & span {
            width: 100%;
            padding: 3px;
            justify-content: center;
        }
    }
}


@media (max-width: 425px) {
    .div-img-produto {
        min-width: 60px;
        min-height: 120px;
    }
}