main {
    margin-top: 5vw;
    text-align: center;
    min-width: 320px;

    & h3, h4 {
        font-size: 3vw;
    }
}

#div-nome {
    padding: 1vw;
}

#produto {
    position: relative;
    width: 20%;
    margin: 5vw auto;
    box-shadow: 1px 1px 5px var(--cinza);
    font-size: 1.3vw;
    min-width: 100px;
    line-height: 3vw;

    & div {
        width: 100%;
        gap: 1vw;
        text-align: center;
    }

    & button {
        width: 100%;
        min-width: max-content;
        background-color: var(--cinza);
        color: var(--branco);
        padding: 1vw;
        font-size: 1.3vw;
    }
}

img {
    width: 100%;
}


#estrelas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5vw;

    & img {
        width: 1.5vw;
    }
}


@media (max-width: 450px) {
    #produto {
        font-size: 6px;

        & button {
            font-size: 6px;
        }
    }
}