@keyframes voltar {
    0% {
        transform: translate(-100%);
    }

    100% {
        transform: translate(0);
    }
} 


@keyframes passar {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(0);
    }
} 


@keyframes crescer {
    0% {
        width: 0%;
    }

    100% {
        width: 3vw;
    }
}


@keyframes surgir {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}