footer {
    min-width: 320px;

    & h1 {
        color: var(--preto);
        cursor: pointer;
    }

    & hr {
        width: 100%;
        height: 2px;
        background-color: var(--cinza);
    }
}

.footer-box {
    min-width: 320px;
}

.div-box-1 {
    background-color: var(--cinza);
    display: flex;
    align-items: center;
    height: 25vh;
    padding-bottom: 30px;
    cursor: default;
}

/* Box 1 */
.box-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 10px;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;

    & h1 {
        font-size: 2vw;
    }

    & p {
        font-size: 1vw;
        color: var(--branco);
    }

    & form {
        display: flex;
        gap: 5px;
        justify-content: center;
    }

    & form > input {
        border: none;
        outline: none; 
        padding: 0.4vw;
        font-size: 0.7vw;
        width: 30%;
    }

    & form > input[type="submit"] {
        background-color: var(--preto);
        color: var(--branco);
    }
}
/* FIM Box 1 */


/* Box 2 */
.div-box-2 {
    background-color: var(--branco);
    width: 70vw;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: -50px auto 0 auto;
    background-color: var(--branco);
    cursor: default;
}

.box-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    height: max-content;

    & p {
        line-height: 1.5vw;
    }

    & div:nth-child(1) {
        grid-column: 1/3;
        background-color: var(--cinza);
        text-align: center;
        align-content: center;
        font-size: 1.5vw;
        height: 100%;
        min-width: 138px;
    }

    & div:nth-child(2)  {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: var(--branco);
        min-width: 138px;
        background-image: url("../imagens-icones/whatsapp-imagem.avif");
        background-size: cover;
        background-repeat: repeat;
        padding: 15px;
        font-size: 1vw;
        gap: 15px;
        min-height: max-content;
    }    
}


.titulo-box {
    font-family: 'Brush Script MT', cursive;
    color: var(--branco);
    font-size: 2.5vw;
}
/* FIM Box 2 */


/* Box 3 */
.div-box-3 {
    max-height: max-content;
    /* margin-top: 14.5vh; */
    padding-top: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;

    & img {
        width: 2vw;
    }
}   
/* FIM Box 3 */


/* Box 4 */
.div-box-4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 70vw;
    margin: 0 auto;
    padding: 25px 10px 15px 10px;
    gap: 4vw;

    & h4 {
        font-size: 1vw;
        opacity: 0.8;
    }

    & p {
        font-size: 0.8vw;
        opacity: 0.8;
    }
}

.box-4-item {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    max-width: max-content;
    margin: 0 auto;
    gap: 15px;
    line-height: 1.3vw;
}

.box-4-cartoes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.cartao {
    width: 2vw;
}

.box-4-item-3 {
    text-align: center;
}

.box-4-item-4 > img {
    width: 8vw;
}

.box-4-item-5 {
    max-width: 110px;
    height: max-content;
    

    & div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: max-content;
    }

    & div > img:first-child {
        border: 2px solid var(--cinza);
        border-radius: 10px;
    }

    & div > img {
        width: 5vw;
    }
}

/* FIM Box 4 */


/* Box 5 */
.footer-box-5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9vw;

    & img {
        position: absolute;
        width: 2.5vw;
        right: 10%;
    }

    & h4 {
        text-align: center;
        margin: 0 40px;
        opacity: 0.8;
        font-size: 0.7vw;
    }
}

/* FIM Box 5 */


/* Box 6 */
.footer-box-6 {
    padding: 0.7vw;
    text-align: center;

    & p {
        font-size: 0.6vw;
    }
}

/* FIM Box 6 */


/* RESPONSIVIDADE */
@media (max-width: 790px) {
    .item {
        font-size: 8px;

        & img {
            width: 40px;
        }
    }

    .titulo-box {
        font-size: 20px;
    }

    .box-1 {
        & h1 {
            font-size: 20px;
        }

        & div > p  {
            font-size: 7px;
        }

        & form > input {
            padding: 4px;
            font-size: 6px;
        }
    }
    
    .box-2 {
        grid-template-columns: repeat(2, 1fr);

        & p {
            line-height: 10px;
        }

        & div:nth-child(1)  {
            grid-column: 1;
        }

        & div:nth-child(2)   {
            font-size: 7px;
        }
    }

    .div-box-3 > img {
        width: 15px;
    }

    .div-box-4 {
        width: 100vw;
        padding-top: 15px;
        gap: 20px;

        & div > div > p {
            font-size: 6px;
            line-height: 8px;
        }

        & div > h4 {
            font-size: 7px;
        }
    }

    .cartao {
        width: 15px;
    }

    .box-4-item-4 > img {
        width: 50px;
    }

    .box-4-item-5 {
        text-align: center;

        & div {
            margin: 0 auto;
        }

        & div > img {
            width: 30px;
        }
    
    }

    .footer-box-5 {
        padding: 10px;

        & img {
            width: 25px;
            right: 3%;
        }

        & h4 {
            font-size: 5px;
        }
    }
    
    .footer-box-6 {
        padding: 10px;

        & p {
            font-size: 5px;
        }
    }

    .titulo-item {
        font-size: 30px;
    }
}


@media (max-width: 620px) {
    .box-1 {
        justify-content: center;
    }
}


@media (max-width: 515px) {
    .item {
        font-size: 6px;

        & img {
            width: 30px;
        }
    }

    .div-box-1 {
        justify-content: center;
        flex-direction: column;
        height: max-content;
        padding: 0;
    }

    .box-1 {
        padding: 20px;
        width: 100%;
    }

    .div-box-2 {
        margin-top: 0;
        width: 100vw;
    }

    .box-2 {
        width: 100%;
        height: max-content;
    }

    .div-box-3 {
        margin-top: 0;
        padding: 0;
    }
    
    .div-box-4 {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 425px) {
    .item {
        font-size: 5px;
        line-height: 6px;

        & img {
            width: 20px;
        }
    }
} 


@media (max-width: 330px) {
    .box-2 > div:nth-child(1) {
        font-size: 5px;
    }
} 