:root {
    --preto: black;
    --preto-sombra: #0c0c0c;
    --branco: white;
    --cinza: rgb(93, 91, 91);
    --cinza-sombra: #555;
    --vermelho: rgb(246, 34, 34);
    --vermelho-marrom:rgb(218, 110, 110);
}